body{
    background-color: rgba(151, 11, 151, 0.822);
}
h2{
    background-color: rgb(165, 14, 64);
    color: white;
}
p{
    color: white;
    background-color: rgba(179, 179, 10, 0.712);
}